body {
  background-color: #162447;
  display: flex;
  flex-direction: column;
  color: white;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.signButton {
  background-color: #e43f5a;
  border: 0px;
  color: white;
  width: 100%;
  margin-bottom: 1em;
}

.messages {
  display: flex;
  flex-direction: row;
  background-color: #1f4068;
  border-color: #162447;
  border-style: solid;
  border-top-width: 0.5em;
}
.recieved {
  flex-direction: row-reverse;
}

.messages * {
  padding-left: 2em;
  padding-right: 2em;
}

form {
  margin-top: 3em;
}
